@import '../../index.scss';

@keyframes pwGoodFade {
  0% {
    opacity: 0;
    height: 0rem;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    height: auto;
  }
}

.password-good {
  color: $darkBlue;
  font-style: italic;
  font-size: 1.2rem;
  border-top: 3px solid $green;
  padding: 0.5rem;
  background-color: $white;
  display: flex;
  margin-top: -1.3rem;
  animation-name: pwGoodFade;
  animation-duration: 0.5s;
  height: auto;
  background-color: transparent;
}
