@import '../../index.scss';

@keyframes errorFade {
  0% {
    opacity: 0;
    height: 0rem;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.8;
    height: auto;
  }
}

.password-error {
  color: $darkBlue;
  font-style: italic;
  font-size: 1.2rem;
  border-top: 2px solid $pink;
  padding: 0.5rem;
  background-color: $white;
  display: flex;
  margin-top: -1.2rem;
  animation-name: errorFade;
  animation-duration: 0.5s;
  height: auto;
  opacity: 0.8;
}
